{% extends "base.html.twig" %}
{% block body %}

     <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
   <div class="container">
        <div class=" card pb-3">
            <div class="card-header">
                    Cadastrar agência
            </div>  
            <div class="card-body">
                <form class="form-inline m-2 my-lg-0" id="formAgencia">
                    <input class="form-control mr-sm-2" type="text" placeholder="Nova agência" >
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Adicionar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class=" card mt-3">
            <div class="card-header">
                Agências cadastradas
            </div>  
            <div class="card-body"> 
                <table class="table table-striped">        
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        {% for agencia in agencias %}
                            <tr>
                            <th scope="row">1</th>
                            <td>{{agencia}}</td>
                            
                            </tr>
                        {% endfor %} 

                    </tbody>
                </table>
            </div> 
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/js/usuarios.js"></script>
{% endblock %}