{% extends "base.html.twig" %}
<!--Administrador-->

{% block javascripts %}
    {{ parent() }}
    <script src="/assets/js/usuarios.js"></script>
{% endblock %}

{% block body %}

     <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
    <ul class="list-group">
     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Nova agência" id="nomeAgencia">
      <a id="adicionar_agencia" class="btn btn-outline-success my-2 my-sm-0">Adicionar</a>
    </form>
       {% for agencia in agencias %}
            <li class="list-group-item"> <a href='agencia/{{agencia}}'>{{agencia}}</a></li>
        {% endfor %} 
    </ul>
    
    </div>
  </div>
{% endblock %}