{% extends 'base.html.twig' %}

{% block title %}Edit Gerentes{% endblock %}

{% block body %}

    <h5>Editar Gerente</h5>

    {{ include('gerentes/_form.html.twig', {'button_label': 'Atualizar'}) }}

    {{ include('gerentes/_delete_form.html.twig') }}
{% endblock %}
