{% extends 'base.html.twig' %}

{% block title %}Edit Gerentes{% endblock %}

{% block body %}
    <h1>Edit Gerentes</h1>

    {{ include('gerentes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gerentes_index') }}">back to list</a>

    {{ include('gerentes/_delete_form.html.twig') }}
{% endblock %}
