{% extends "base.html.twig" %}
{% block body %}

     <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Olá, residente!</h1>
      <p>Essa página trará informações sobre seu banco.</p>
      <p><a class="btn btn-primary btn-lg" href="/agencia/1" role="button">Nossas agências &raquo;</a></p>

    <ul class="list-group">
       
    </ul>
    
    </div>
  </div>

  
{% endblock %}